body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.volver{
    margin-top: 690px;
    margin-left: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.volver:hover {
    background-color: #0056b3;
}
/* Imagen de fondo con desenfoque */
.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda la pantalla */
    filter: blur(5px); /* Aplica el desenfoque */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}
.contenedor {
    position: relative; /* Mantiene el formulario sobre la imagen */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    z-index: 1; /* Asegura que el formulario esté sobre la imagen */
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #3009f7;
}

.formulario_RegistraC {
    display: flex;
    flex-direction: column;
}

.etiqueta {
    font-size: 16px;
    color: #555555;
    margin-bottom: 5px;
    width: 150px;
    font-weight: bold;
}

.formulario_RegistraC div {
    display: flex;
    align-items:center;
    margin-bottom: 50px;
}

.ingreso {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.btnRC {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnRC:hover {
    background-color: #0056b3;
}

